<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <Org.Apollo.Logging>
    <Log FilePath ="C:\E\VS-Programs\ReshimgathiMatrimony\ReshimgathiMatrimony\Log\" 
         FileName="Reshimgathi-project"
         FileSplitSizeInMb="1"
         Mode="Debug" Env="TUP" IsLogOn="True"/>
  </Org.Apollo.Logging>
</configuration>